<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3 text-center">
            <h1 class="display-4 mb-4">Planificateur de Vacances en Corse</h1>
            <p class="lead">Organisez votre séjour en Corse du Sud jour par jour.</p>
            
            <div class="mt-5">
                <a href="/auth/login" class="btn btn-primary btn-lg me-3">Se connecter</a>
                <a href="/about" class="btn btn-outline-secondary btn-lg">En savoir plus</a>
            </div>
            
            <div class="mt-5">
                <img src="/img/corsica-map.png" alt="Carte de la Corse" class="img-fluid rounded shadow-sm">
            </div>
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h3 class="card-title">Planifiez</h3>
                    <p class="card-text">Organisez votre voyage jour par jour avec des activités personnalisées.</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h3 class="card-title">Budgétisez</h3>
                    <p class="card-text">Suivez vos dépenses et restez dans votre budget grâce au suivi intégré.</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h3 class="card-title">Profitez</h3>
                    <p class="card-text">Vivez pleinement votre expérience en Corse sans stress d'organisation.</p>
                </div>
            </div>
        </div>
    </div>
</div>